- content_for :title, @post.brainchild
-# - content_for :back_url, "/images/post_back.jpg"
%p#notice= notice

%h1.post-title
  = @post.title
%hr

= @post.body.html_safe


%p.post-meta
  = @post.user.name
  написал
  = @post.created_at.strftime("%B %d, %Y")

-if policy(@post).edit?
  = link_to 'Edit', edit_post_path(@post)
  \|
= link_to 'Back', posts_path
